<div class="container_12 form">
	<%= erb :_backend_menu %>
	<div class="grid_12"><h2>Now Showing:</h2></div>
	<div class="grid_9">
		<p id="introText">To set a movie as "Now Showing" simply pick it from the select box. Type in the now showing dates like "July 4th - July 10th." This will update the Now Showing section on the home page. If you need more help visit the help section.</p>
	</div>
	<div class="grid_12"><hr /></div>
	<div class="clear"></div>
	<form method="POST" action="/add_now_showing">
		<div class="grid_6">
			<label for="nowShowing[Dates]">Dates:</label>
			<input type="text" name="nowShowing[Dates]" />
		</div>
		<div class="grid_6">
			<label for="nowShowing[Movie]">Movie</label>
			<select name="nowShowing[Movie]">
				<% Movie.all.each do |m| %>
					<option value="<%= m.id %>"><%= m.Title %></option>
				<% end %>
			</select>
		</div>
		<div class="grid_12">
			<input type="submit" class="button" />
		</div>
	</form>
	<div class="grid_12"><hr /></div>
	<% NowShowing.all.each do |ns| %>
		<div class="grid_12"><a href="/remove_now_showing/<%= ns.id %>">Remove This Movie</a></div>
		<%= partial(:now_showing, :locals => {:item => ns}) %>
	<% end %>
</div>

